<!DOCTYPE html>
<html>
<head>
    <title>Basic Authentication</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            text-align: center;
            margin: 0;
            padding: 0;
        }

        .container {
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
        }

        #login-form {
            background-color: #fff;
            border-radius: 10px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
            padding: 20px;
            width: 300px;
        }

        #login-form h1 {
            color: #333;
            font-size: 24px;
            margin-bottom: 20px;
        }

        label {
            display: block;
            text-align: left;
            margin-bottom: 5px;
            font-weight: bold;
            color: #333;
        }

        input[type="text"],
        input[type="password"] {
            width: 100%;
            padding: 10px;
            margin-bottom: 10px;
            border: 1px solid #ccc;
            border-radius: 4px;
        }

        button[type="button"] {
            background-color: #0074cc;
            color: #fff;
            padding: 10px 20px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            font-weight: bold;
        }

        button[type="button"]:hover {
            background-color: #0056a7;
        }

        .icon {
            font-size: 18px;
            margin-right: 5px;
        }
    </style>
</head>
<body>
    <div class="container">
        <div id="login-form">
            <h1><i class="fas fa-lock icon"></i>Login</h1>
            <form>
                <!-- Username limited to 15 characters -->
                <label for="username"><i class="fas fa-user icon"></i>Username:</label>
                <input type="text" id="username" name="username" required maxlength="15"><br><br>
                <!-- Password limited to 15 characters -->
                <label for="password"><i class="fas fa-key icon"></i>Password:</label>
                <input type="password" id="password" name="password" required maxlength="15"><br><br>
                <button type="button" id="login-button"><i class="fas fa-sign-in-alt icon"></i>Login</button>
            </form>
        </div>
    </div>

    <script src="script.js"></script>
</body>
</html>
